/* Color Variables */
:root {
    --main-bg-color:  #F8E9E9;
    --main-text-color: black;
    --text-color-on-color: var(--main-bg-color);
    --heading-bg-color: #334E58;
    --header-bg-color: #69995D;
    --accent-1: #3C5C68;
    --accent-2: #9C7CA5;
}

body {
    background-color: var(--main-bg-color);
}

/* Fonts, Header/Footer/Nav setup - global stuff*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Baskerville", "Times New Roman", serif;
    background-color: var(--heading-bg-color);
    color: var(--text-color-on-color);
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin: 0px;
    box-shadow: 0px 10px 15px black;
    border-radius: 2px;
    font-size: 1.25em;
}

p, a, label, button, img {
    font-family: Ubuntu, Arial, sans-serif;
}

header {
    background-color: var(--header-bg-color);
}

footer {
    background-color: var(--heading-bg-color);
    color: var(--text-color-on-color);
    box-shadow: 0px 10px 15px black;
}

.header-logo {
    max-width: fit-content;
    margin: auto;
}

.header-logo img {
    max-width: 20vw;
    margin: auto;
}

#navbutton {
    background-color: var(--heading-bg-color);
    float: right;
    margin: 10px;
    width: 10vw;
    height: 10vw;
    box-shadow: 2px 2px 5px black;
    border-radius: 2px;
    color: var(--text-color-on-color)
}

#navbutton:active {
    background-color: var(--accent-2);
}

#navbutton.active {
    background-color: var(--accent-2);
}

nav {
    text-align: center;
    background-color: var(--main-bg-color);
    margin-top: -5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: none;
}

nav li {
    background-color: var(--accent-1);
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
}

nav li a {
    color: var(--text-color-on-color);
    text-decoration: none;
}

nav li a:hover {
    font-size: 110%;
}

.active {
    display: block;
}

footer {
    padding: 10px 5px 10px 5px;
    text-align: center;
}

footer p {
    margin: 0px;
    padding: 2px;
}

footer a {
    color: white;
}

footer a:visited {
    color: var(--accent-2);
}

.social {
    width: 10vw;
}

.footer-logo {
    max-height: 10vw;
}

body {
    margin: 0;
}

/* Homepage Content */



/* Temple Page Content */
.temples-content {
    margin-top: 20px;
    text-align: center;
}

.temples-content p {
    padding: 10px;
}

.card {
    margin: 2vw;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}

.card p {
    padding: 0px;
    margin: 5px;
}

.card img {
    max-width: 100%;
    border: 5px double black;
}

.likebutton {
    width: 15vw;
    height: 15vw;
    font-size: 175%;
    text-align: center;
    background-color: var(--accent-1);
    color: white;
    border-radius: 5vw;
    padding: 0px;
}

.likebutton:active {
    background-color: var(--accent-2)
}

.liked {
    background-color: white;
    border: 5px double var(--accent-1);
    color: var(--accent-2);
    font-size: 200%;
}

.liked:active {
    background-color: var(--accent-1);
}

/* Services Page Content */
.services-content {
    margin-top: 16px;
}

.services-content img {
    max-width: 90%;
    border: double 5px black;
    padding: 10px;
    margin: 1vw;
}

.services-content p {
    padding: 10px;
}

.services-content ul {
    list-style: none;
    padding: 15px;
}
.services-content li {
    font-family: Ubuntu, Arial, sans-serif;
    padding: 2px;
}

.services-content form {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;
    margin-bottom: 16px;
    border: 5px double black;
    padding: 10px;
}

.services-content input, .services-content label {
    margin: 5px;
}

#temple-assignment {
    /* display: flex;
    flex-direction: column; */
    max-width: 50vw;
    margin: auto;
}

#missionary-submit {
    max-width: 30vw;
    margin: 10px auto;
    background-color: var(--heading-bg-color);
    color: var(--text-color-on-color);
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 100%;
}