@media (min-width: 1250px) {
    #navbutton {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: auto;
        background-color: var(--accent-1);
    }

    /* Temples Page */
    .temples-cards {
        display: grid;
        grid-template-columns: 50vw 50vw;
    }

    /* Services Page */
    .services-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .services-content img {
        width: 30vw;
        max-width: 400px;
        margin: 16px 10vw;
    }

    #services-main {
        border-right: double 5px black;
    }

    #services-main ul {
        margin: 0px;
    }

    #receptions {
        border-left: double 5px black;
    }

    #missionary {
        grid-column: 1/-1;
    }

    #missionary p {
        text-align: center;
        margin-left: 50px;
    }

    #missionary img {
        float: right;
        margin: 16px 50px;
    }

    #missionary form {
        clear: right;
    }

    .image-centerer {
        display: block;
    }
}