@media (min-width: 750px) {
    .header-logo img, footer img {
        max-width: 75px;
    }

    #navbutton {
        max-width: 50px;
        max-height: 50px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
    }

    p, a, label {
        font-size: 1.25em;
    }

    nav {
        margin-top: 11px;
    }

    nav ul {
        max-width: 70vw;
        margin: auto;
    }

    nav li {
        padding: 5px;
    }

    nav li a:hover {
        font-size: 1.38em;
    }
}