@media (min-width: 750px) {
    .header-logo img, footer img {
        max-width: 75px;
    }

    #navbutton {
        max-width: 50px;
        max-height: 50px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
    }

    p, a, label, li {
        font-size: 1.25em;
    }

    nav {
        margin-top: 11px;
    }

    nav ul {
        max-width: 70vw;
        margin: auto;
    }

    nav li {
        padding: 5px;
    }

    nav li a:hover {
        font-size: 1.38em;
    }

    /* Temples Page */
    .card img {
        float: left;
        margin-top: 20px;
        margin-right: 10px;
    }

    .card p:first-of-type {
        margin-top: 20px;   
    }

    .card p, .likebutton {
        margin: 10px;
    }

    .likebutton {
        max-width: 75px;
        max-height: 75px;
    }

    /* Services Page */
    .services-content img {
        width: 40vw;
        max-width: 300px;
    }

    #services-main ul {
        width: fit-content;
        margin: auto;
    }

    #receptions {
        clear: left;
    }

    #receptions img {
        float: right;
    }

    #receptions ul {
        clear: right;
    }

    .image-centerer {
        display: none;
    }

    #missionary img {
        float: left;
        margin-right: 12px;
        margin-top: 16px;
    }

    #missionary p:nth-of-type(2) {
        clear: left;
    }
}